/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/*YOUR CODE STARTS HERE*/
/*variable here*/
/*mixins here*/
.secondheader {
  font-size: 2.4rem;
  color: coral;
}
.flex {
  display: flex;
}
.container {
  margin-left: 1rem;
}
header {
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
header a {
  justify-content: space-around;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: #FF7F50;
}
header a:hover {
  text-decoration: underline;
  text-decoration-color: silver;
}
.top-part {
  background: #FFE5B4;
}
.top-part img {
  width: 27%;
  height: 17%;
}
.top-part h1 {
  font-size: 2.4rem;
  color: #FF7F50;
}
.top-part button {
  padding: 0.3rem 0.5rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
  background: white;
  color: black;
  border: 1px solid #FF7F50;
}
.top-part button:hover {
  border: 2px dashed #FF7F50;
}
.middle-part {
  display: flex;
}
.middle-part .listen-up {
  width: 45%;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.middle-part .good-stuff {
  justify-content: flex-end;
  width: 45%;
  margin-left: 2.4rem;
}
.middle-part h2 {
  font-size: 2.4rem;
  color: coral;
}
.good-stuff {
  display: flex;
}
.good-stuff h2 {
  font-size: 2.4rem;
  color: coral;
}
.good-stuff p {
  width: 45%;
  border: 1px solid #FF7F50;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.bottom-part h2 {
  font-size: 2.4rem;
  color: coral;
}
footer {
  width: 100%;
  height: 5rem;
  background: #FF7F50;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: white;
}
